<style>
    .logo {
        position: relative;
        animation-name: brandAnimation;
        animation-duration: 1s;
    }

    @keyframes brandAnimation {
        0% {
            left: -100px;
            transform: rotate(-180deg);

        }

        100% {
            left: 0px;
            transform: rotate(0deg);
        }
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src='/images/logo.jpg' alt="Logo" width="70" height="70" class="d-inline-block align-text-center logo">
            <span id="headerBrandText">Veterinaria Estrada</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                <a class="nav-link" href="/company">Que Hacemos</a>
                <a class="nav-link" href="/aboutUs">Quienes Somos</a>
                <a class="nav-link " href="/contact" tabindex="-1">Contacto</a>
            </div>
        </div>
    </div>
</nav>