<!DOCTYPE html>
<html lang="en">


<%- include('./partials/header.ejs') %>

    <body>
        <section class="row justify-content-evenly">
            <div class="card  col-6" style=" box-shadow: 0 10px 15px ; width: 18rem; margin: 1rem;">
                <img src="/images/nicoBadge.jpg" class="card-img-top" style="margin-top: 5px;" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Nico Morteo</h5>
                </div>
            </div>
            <div class="card  col-6" style=" box-shadow: 0 10px 15px ; width: 18rem; margin: 1rem;">
                <img src="/images/crisBadge.jpg" class="card-img-top" style="margin-top: 5px;" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Cristian Monte</h5>
                </div>
            </div>
            </div>
            <div class="row justify-content-evenly">

                <div class="card  col-6" style=" box-shadow: 0 10px 15px ; width: 18rem; margin: 1rem;">
                    <img src="/images/charlyBadge.jpg" class="card-img-top" style="margin-top: 5px;" alt="Card Image">
                    <div class="card-body">
                        <h5 class="card-title">Carlos Aragón</h5>
                    </div>
                </div>
                <div class="card  col-6" style=" box-shadow: 0 10px 15px ; width: 18rem; margin: 1rem;">
                    <img src="/images/caroBadge.jpg" class="card-img-top" style="margin-top: 5px;" alt="Card Image">
                    <div class="card-body">
                        <h5 class="card-title">Carolina (RePerreros)</h5>
                        <a href="https://www.instagram.com/reperreros/" class="btn btn-secondary">Instagram</a>
                    </div>
                </div>
        </section>
    </body>

</html>