<!DOCTYPE html>
<html lang="en">

<%- include('./partials/header.ejs') %>
<body>
    <div class="card bg-dark text-white" style="width: 80vw; height: fit-content; margin: 0 auto;">
        <img src="/images/clinicaBanner.jpg" class="card-img" alt="..." style="filter: blur(2px);">
        <div class="card-img-overlay">
          <h5 class="card-title">Veterinaria Estrada</h5>
          <p class="card-text">Bienvenidos a Veterinaria Nueva Estrada! No duden en seguirnos en redes ( Instagram, Whatsapp) o podes ahora tambien sacar turno online desde <a href="https://veterinariaestrada4852.setmore.com/">acá</a></p>
          <p class="card-text">-Veterinaria Nueva Estrada</p>
        </div>
      </div>
</body>
</html>