<!DOCTYPE html>
<html>


<%- include('./partials/head.ejs') %>
  <%- include('./partials/header.ejs') %>

    <body>
      <div class="container">

        <br>
        <div class="row justify-content-center">
          <div class="col-10 col-lg-6">
            <%- include('./partials/carousel.ejs') %>
          </div>
        </div>

        <br>
        <div class="row justify-content-center">
          <div class="col-10 col-lg-6">
            <iframe id="iframeYoutube" src="https://www.youtube.com/embed/yCouD90SvB0" title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
            </iframe>
          </div>
        </div>
        <br>
        <hr>
        <div class="alert alert-success" role="alert">
          <a href="https://veterinariaestrada4852.setmore.com/" style="text-decoration: none; color: black;">
            <h4 style="width: fit-content; margin: 0 auto;">Ahora podes pedir Turnos Online! Clickeame!</h4>
          </a>
        </div>
      </div>
      <hr>
    </body>

</html>