body,
html {
  height: 100%;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#iframeYoutube {
  width: 100%;
  height: 20rem;
}

@media all and (max-width: 336px) {
  #headerBrandText {
    font-size: large;
  }
}
#cardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
